<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,340}</string>
                <key>spriteSourceSize</key>
                <string>{240,340}</string>
                <key>textureRect</key>
                <string>{{0,0},{240,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,340}</string>
                <key>spriteSourceSize</key>
                <string>{240,340}</string>
                <key>textureRect</key>
                <string>{{0,340},{240,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,340}</string>
                <key>spriteSourceSize</key>
                <string>{240,340}</string>
                <key>textureRect</key>
                <string>{{0,680},{240,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3s.png</string>
            <key>size</key>
            <string>{240,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7430b7f9082a3b01c8a802aee07244ac:223c61aeb4b59bbbe11d46f1ad7e84d9:051bcc5fc7975ad68e5fbb04138e04e6$</string>
            <key>textureFileName</key>
            <string>3s.png</string>
        </dict>
    </dict>
</plist>
