<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,40}</string>
                <key>spriteSourceSize</key>
                <string>{20,40}</string>
                <key>textureRect</key>
                <string>{{0,0},{20,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,40}</string>
                <key>spriteSourceSize</key>
                <string>{20,40}</string>
                <key>textureRect</key>
                <string>{{0,40},{20,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,40}</string>
                <key>spriteSourceSize</key>
                <string>{20,40}</string>
                <key>textureRect</key>
                <string>{{0,80},{20,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,40}</string>
                <key>spriteSourceSize</key>
                <string>{20,40}</string>
                <key>textureRect</key>
                <string>{{0,120},{20,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,40}</string>
                <key>spriteSourceSize</key>
                <string>{20,40}</string>
                <key>textureRect</key>
                <string>{{0,160},{20,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,40}</string>
                <key>spriteSourceSize</key>
                <string>{20,40}</string>
                <key>textureRect</key>
                <string>{{0,200},{20,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,40}</string>
                <key>spriteSourceSize</key>
                <string>{20,40}</string>
                <key>textureRect</key>
                <string>{{0,240},{20,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,40}</string>
                <key>spriteSourceSize</key>
                <string>{20,40}</string>
                <key>textureRect</key>
                <string>{{0,280},{20,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,40}</string>
                <key>spriteSourceSize</key>
                <string>{20,40}</string>
                <key>textureRect</key>
                <string>{{0,320},{20,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,40}</string>
                <key>spriteSourceSize</key>
                <string>{20,40}</string>
                <key>textureRect</key>
                <string>{{0,360},{20,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>exceed.png</string>
            <key>size</key>
            <string>{20,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:554774c25b1e6fa47c596cc5c35edb2d:6954fe47842cdb1494f2f6eb566154ba:c6156aca79c132fd9e2f03d268643736$</string>
            <key>textureFileName</key>
            <string>exceed.png</string>
        </dict>
    </dict>
</plist>
