<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hp_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{0,0},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{0,26},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{0,52},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{0,78},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{0,104},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{0,130},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{0,156},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{0,182},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{0,208},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{0,234},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{0,260},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{0,286},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_分隔.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{0,312},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hp.png</string>
            <key>size</key>
            <string>{16,338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e0b9c380080ee388b81593f46ef7608:7dc7b743708522de9cb9d0b191f71a83:035b5f0ea03ea2ca9a1c39f2d9f033ac$</string>
            <key>textureFileName</key>
            <string>hp.png</string>
        </dict>
    </dict>
</plist>
