<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>怪物呼吸_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-48}</string>
                <key>spriteSize</key>
                <string>{1084,968}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{1922,964},{1084,968}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>怪物呼吸_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-49}</string>
                <key>spriteSize</key>
                <string>{1086,966}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{1922,1932},{1086,966}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>怪物呼吸_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-51}</string>
                <key>spriteSize</key>
                <string>{1096,962}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{960,1922},{1096,962}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>怪物呼吸_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-52}</string>
                <key>spriteSize</key>
                <string>{1106,960}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{0,1922},{1106,960}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>怪物呼吸_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-52}</string>
                <key>spriteSize</key>
                <string>{1112,960}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{0,962},{1112,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>怪物呼吸_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-51}</string>
                <key>spriteSize</key>
                <string>{1118,962}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{0,0},{1118,962}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>怪物呼吸_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-50}</string>
                <key>spriteSize</key>
                <string>{1112,964}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{1118,0},{1112,964}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>breath.webp</string>
            <key>size</key>
            <string>{3006,3028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4a039392568d212b268e26f2eaa702c:fe661eba71553421bc329967a3ab5b68:7a8662d48859e6654eba6c8a4eebadac$</string>
            <key>textureFileName</key>
            <string>breath.webp</string>
        </dict>
    </dict>
</plist>
