<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>打肚子_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{1102,966}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{0,970},{1102,966}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>打肚子_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-8}</string>
                <key>spriteSize</key>
                <string>{1138,962}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{0,1936},{1138,962}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>打肚子_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-35}</string>
                <key>spriteSize</key>
                <string>{1004,958}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{1982,0},{1004,958}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>打肚子_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-31}</string>
                <key>spriteSize</key>
                <string>{988,968}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{0,0},{988,968}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>打肚子_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-30}</string>
                <key>spriteSize</key>
                <string>{994,970}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{988,0},{994,970}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>打肚子_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-8}</string>
                <key>spriteSize</key>
                <string>{1184,968}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{1138,1936},{1184,968}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>打肚子_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{1114,966}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{1102,970},{1114,966}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>harm-belly.png</string>
            <key>size</key>
            <string>{2986,2904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9606754b6e7a4ef6791e76c21c65023e:5163e53a825db390633f0e689e76f85f:3101d4ef4b6aedb2876c10796e4571a8$</string>
            <key>textureFileName</key>
            <string>harm-belly.png</string>
        </dict>
    </dict>
</plist>
