<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>被打肩膀_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{1102,966}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{0,966},{1102,966}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>被打肩膀_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{1112,966}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{0,0},{1112,966}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>被打肩膀_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,7}</string>
                <key>spriteSize</key>
                <string>{1036,994}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{1102,966},{1036,994}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>被打肩膀_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,10}</string>
                <key>spriteSize</key>
                <string>{1034,1002}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{0,1960},{1034,1002}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>被打肩膀_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,11}</string>
                <key>spriteSize</key>
                <string>{1036,1004}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{2072,1960},{1036,1004}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>被打肩膀_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,11}</string>
                <key>spriteSize</key>
                <string>{1038,1002}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{1034,1960},{1038,1002}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>被打肩膀_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{1110,966}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{1112,0},{1110,966}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>harm-foot.png</string>
            <key>size</key>
            <string>{3108,2964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43dad3a4d100beecdd2a0ae6b1fd133d:11d0b5c93ff9e52d2d55d2f5508571b7:da699e043c296a6c63fdc7ef1b979f7c$</string>
            <key>textureFileName</key>
            <string>harm-foot.png</string>
        </dict>
    </dict>
</plist>
