<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>打肩膀_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{1102,966}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{958,1102},{1102,966}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>打肩膀_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{1130,968}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{0,2142},{1130,968}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>打肩膀_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,31}</string>
                <key>spriteSize</key>
                <string>{958,1040}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{0,1102},{958,1040}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>打肩膀_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,61}</string>
                <key>spriteSize</key>
                <string>{926,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{924,0},{926,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>打肩膀_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,62}</string>
                <key>spriteSize</key>
                <string>{924,1102}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{0,0},{924,1102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>打肩膀_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,43}</string>
                <key>spriteSize</key>
                <string>{936,1064}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{1850,0},{936,1064}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>打肩膀_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{1134,968}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1280}</string>
                <key>textureRect</key>
                <string>{{1130,2142},{1134,968}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>harm-hand.png</string>
            <key>size</key>
            <string>{2786,3110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f12a48f24698291225e3d3ddd3e2fe50:56a732ffa351df8dca7f67d33e8671aa:74d8b60bfa76ddc293a0a4349e8d74bb$</string>
            <key>textureFileName</key>
            <string>harm-hand.png</string>
        </dict>
    </dict>
</plist>
